body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#searchBox {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#results {
    margin-top: 10px;
}

.movie {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.movie img {
    width: 50px;
    height: 75px;
    object-fit: cover;
    margin-right: 10px;
}

#movieDetails {
    margin-top: 20px;
}

#movieDetails img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#movieDetails h2 {
    margin-top: 10px;
}

#movieDetails p {
    margin: 5px 0;
}
